<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786398936650-4moebujuc036699uqgva54arvrg86b7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786398936650-4moebujuc036699uqgva54arvrg86b7k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786398936650-vc7hih5mgecbrihi7aib0f182134b821.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDclMxXiXVM3tbancANra6-bJU_tH5-mJk</string>
	<key>GCM_SENDER_ID</key>
	<string>786398936650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driveDemo</string>
	<key>PROJECT_ID</key>
	<string>drive-demo-f9f20</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-demo-f9f20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786398936650:ios:d8b4c0a1400c894967f0b3</string>
</dict>
</plist>